# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/api/node_modules
/api/.pnp

/node_modules
/.pnp
.pnp.js

# testing
/client/coverage
/api/coverage

# production
/client/build
/api/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/api/.DS_Store
/api/.env.local
/api/.env.development.local
/api/.env.test.local
/api/.env.production.local

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/api/npm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
